<!DOCTYPE HTML>
<HTML>
 <HEAD>
  <TITLE>goodtransformermodelfit</TITLE>
  <META NAME="generator" CONTENT="wxMaxima">
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    displayAlign: "left",
    context: "MathJax",
    TeX: {TagSide: "left"}
  })
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_HTML">
</script>
  <link rel="stylesheet" type="text/css" href="goodtransformermodelfit_htmlimg/goodtransformermodelfit.css"/>
 </HEAD>
 <BODY>

<!-- ***************************************************** -->
<!--          Created with wxMaxima version 17.10.1         -->
<!-- ***************************************************** -->
<noscript><div class="error message">    Please enable JavaScript in order to get a 2d display of the equations embedded in this web page.</div></noscript>\(      \DeclareMathOperator{\abs}{abs}
      \newcommand{\ensuremath}[1]{\mbox{$#1$}}
\)

<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
 -->	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
  </SPAN></TD>
</TR></TABLE>



<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
(%i5)	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
<span class="code_variable">g1</span><span class="code_operator">:</span> <span class="code_variable">Lp0</span><span class="code_operator">+</span><span class="code_variable">f</span><span class="code_operator">=</span><span class="code_variable">Lp</span><span class="code_operator">+</span><span class="code_variable">Lm</span><span class="code_endofline">;</span>  </SPAN></TD>
</TR></TABLE>
\[\tag{g1}f+\mathit{Lp0}=\mathit{Lp}+\mathit{Lm}\]


<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
(%i6)	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
<span class="code_variable">g2</span><span class="code_operator">:</span> <span class="code_variable">Lpc</span><span class="code_operator">+</span><span class="code_variable">f</span><span class="code_operator">=</span><span class="code_variable">Lp</span><span class="code_operator">+</span>(<span class="code_variable">Lm</span><span class="code_operator">^</span><span class="code_number">−</span><span class="code_number">1</span><span class="code_operator">+</span><span class="code_variable">Ls</span><span class="code_operator">^</span><span class="code_number">−</span><span class="code_number">1</span>)<span class="code_operator">^</span><span class="code_number">−</span><span class="code_number">1</span><span class="code_endofline">;</span>  </SPAN></TD>
</TR></TABLE>
\[\tag{g2}f+\mathit{Lpc}=\frac{1}{\frac{1}{\mathit{Ls}}+\frac{1}{\mathit{Lm}}}+\mathit{Lp}\]


<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
(%i7)	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
<span class="code_variable">g3</span><span class="code_operator">:</span><span class="code_variable">Lsc</span><span class="code_operator">+</span><span class="code_variable">f</span><span class="code_operator">=</span><span class="code_variable">Ls</span><span class="code_operator">+</span>(<span class="code_variable">Lm</span><span class="code_operator">^</span><span class="code_number">−</span><span class="code_number">1</span><span class="code_operator">+</span><span class="code_variable">Lp</span><span class="code_operator">^</span><span class="code_number">−</span><span class="code_number">1</span>)<span class="code_operator">^</span><span class="code_number">−</span><span class="code_number">1</span><span class="code_endofline">;</span>  </SPAN></TD>
</TR></TABLE>
\[\tag{g3}f+\mathit{Lsc}=\mathit{Ls}+\frac{1}{\frac{1}{\mathit{Lp}}+\frac{1}{\mathit{Lm}}}\]


<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
(%i8)	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
<span class="code_variable">g4</span><span class="code_operator">:</span><span class="code_variable">Lso</span><span class="code_operator">+</span><span class="code_variable">f</span><span class="code_operator">=</span><span class="code_variable">Ls</span><span class="code_operator">+</span><span class="code_variable">Lm</span><span class="code_endofline">;</span>  </SPAN></TD>
</TR></TABLE>
\[\tag{g4}f+\mathit{Lso}=\mathit{Ls}+\mathit{Lm}\]


<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
(%i9)	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
<span class="code_function">solve</span>([<span class="code_variable">g1</span>,<span class="code_variable">g2</span>,<span class="code_variable">g3</span>,<span class="code_variable">g4</span>],[<span class="code_variable">Lp</span>,<span class="code_variable">Lm</span>,<span class="code_variable">Ls</span>,<span class="code_variable">f</span>])<span class="code_endofline">;</span>  </SPAN></TD>
</TR></TABLE>
\[\tag{%o9} [[\mathit{Lp}=\frac{\left( \mathit{Lso}-\mathit{Lsc}+\mathit{Lpc}-\mathit{Lp0}\right) \, \sqrt{-\frac{\mathit{Lp0}\, \left( {{\mathit{Lso}}^{2}}+\mathit{Lpc}\, \left( \mathit{Lso}-\mathit{Lsc}\right) -\mathit{Lsc}\, \mathit{Lso}\right) +\mathit{Lpc}\, \left( \mathit{Lsc}\, \mathit{Lso}-{{\mathit{Lso}}^{2}}\right) +{{\mathit{Lp0}}^{2}}\, \left( \mathit{Lsc}-\mathit{Lso}\right) }{-\mathit{Lso}+\mathit{Lsc}-\mathit{Lpc}+\mathit{Lp0}}}+\left( \mathit{Lp0}-\mathit{Lpc}\right) \, \mathit{Lso}+\mathit{Lp0}\, \mathit{Lpc}-{{\mathit{Lp0}}^{2}}}{\mathit{Lso}-\mathit{Lsc}+\mathit{Lpc}-\mathit{Lp0}},\mathit{Lm}=-\sqrt{-\frac{\mathit{Lp0}\, \left( {{\mathit{Lso}}^{2}}+\mathit{Lpc}\, \left( \mathit{Lso}-\mathit{Lsc}\right) -\mathit{Lsc}\, \mathit{Lso}\right) +\mathit{Lpc}\, \left( \mathit{Lsc}\, \mathit{Lso}-{{\mathit{Lso}}^{2}}\right) +{{\mathit{Lp0}}^{2}}\, \left( \mathit{Lsc}-\mathit{Lso}\right) }{-\mathit{Lso}+\mathit{Lsc}-\mathit{Lpc}+\mathit{Lp0}}},\mathit{Ls}=\frac{\left( \mathit{Lso}-\mathit{Lsc}+\mathit{Lpc}-\mathit{Lp0}\right) \, \sqrt{-\frac{\mathit{Lp0}\, \left( {{\mathit{Lso}}^{2}}+\mathit{Lpc}\, \left( \mathit{Lso}-\mathit{Lsc}\right) -\mathit{Lsc}\, \mathit{Lso}\right) +\mathit{Lpc}\, \left( \mathit{Lsc}\, \mathit{Lso}-{{\mathit{Lso}}^{2}}\right) +{{\mathit{Lp0}}^{2}}\, \left( \mathit{Lsc}-\mathit{Lso}\right) }{-\mathit{Lso}+\mathit{Lsc}-\mathit{Lpc}+\mathit{Lp0}}}+{{\mathit{Lso}}^{2}}+\left( -\mathit{Lsc}-\mathit{Lp0}\right) \, \mathit{Lso}+\mathit{Lp0}\, \mathit{Lsc}}{\mathit{Lso}-\mathit{Lsc}+\mathit{Lpc}-\mathit{Lp0}},f=-\frac{\mathit{Lp0}\, \mathit{Lsc}-\mathit{Lpc}\, \mathit{Lso}}{-\mathit{Lso}+\mathit{Lsc}-\mathit{Lpc}+\mathit{Lp0}}],[\mathit{Lp}=-\frac{\left( \mathit{Lso}-\mathit{Lsc}+\mathit{Lpc}-\mathit{Lp0}\right) \, \sqrt{-\frac{\mathit{Lp0}\, \left( {{\mathit{Lso}}^{2}}+\mathit{Lpc}\, \left( \mathit{Lso}-\mathit{Lsc}\right) -\mathit{Lsc}\, \mathit{Lso}\right) +\mathit{Lpc}\, \left( \mathit{Lsc}\, \mathit{Lso}-{{\mathit{Lso}}^{2}}\right) +{{\mathit{Lp0}}^{2}}\, \left( \mathit{Lsc}-\mathit{Lso}\right) }{-\mathit{Lso}+\mathit{Lsc}-\mathit{Lpc}+\mathit{Lp0}}}+\left( \mathit{Lpc}-\mathit{Lp0}\right) \, \mathit{Lso}-\mathit{Lp0}\, \mathit{Lpc}+{{\mathit{Lp0}}^{2}}}{\mathit{Lso}-\mathit{Lsc}+\mathit{Lpc}-\mathit{Lp0}},\mathit{Lm}=\sqrt{-\frac{\mathit{Lp0}\, \left( {{\mathit{Lso}}^{2}}+\mathit{Lpc}\, \left( \mathit{Lso}-\mathit{Lsc}\right) -\mathit{Lsc}\, \mathit{Lso}\right) +\mathit{Lpc}\, \left( \mathit{Lsc}\, \mathit{Lso}-{{\mathit{Lso}}^{2}}\right) +{{\mathit{Lp0}}^{2}}\, \left( \mathit{Lsc}-\mathit{Lso}\right) }{-\mathit{Lso}+\mathit{Lsc}-\mathit{Lpc}+\mathit{Lp0}}},\mathit{Ls}=-\frac{\left( \mathit{Lso}-\mathit{Lsc}+\mathit{Lpc}-\mathit{Lp0}\right) \, \sqrt{-\frac{\mathit{Lp0}\, \left( {{\mathit{Lso}}^{2}}+\mathit{Lpc}\, \left( \mathit{Lso}-\mathit{Lsc}\right) -\mathit{Lsc}\, \mathit{Lso}\right) +\mathit{Lpc}\, \left( \mathit{Lsc}\, \mathit{Lso}-{{\mathit{Lso}}^{2}}\right) +{{\mathit{Lp0}}^{2}}\, \left( \mathit{Lsc}-\mathit{Lso}\right) }{-\mathit{Lso}+\mathit{Lsc}-\mathit{Lpc}+\mathit{Lp0}}}-{{\mathit{Lso}}^{2}}+\left( \mathit{Lsc}+\mathit{Lp0}\right) \, \mathit{Lso}-\mathit{Lp0}\, \mathit{Lsc}}{\mathit{Lso}-\mathit{Lsc}+\mathit{Lpc}-\mathit{Lp0}},f=-\frac{\mathit{Lp0}\, \mathit{Lsc}-\mathit{Lpc}\, \mathit{Lso}}{-\mathit{Lso}+\mathit{Lsc}-\mathit{Lpc}+\mathit{Lp0}}]]\]


<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
(%i10)	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
<span class="code_variable">fsol</span><span class="code_operator">:</span>&nbsp;<span class="code_variable">f</span><span class="code_operator">=</span><span class="code_operator">−</span>(<span class="code_variable">Lp0</span>·<span class="code_variable">Lsc</span><span class="code_operator">−</span><span class="code_variable">Lpc</span>·<span class="code_variable">Lso</span>)<span class="code_operator">/</span>(<span class="code_operator">−</span><span class="code_variable">Lso</span><span class="code_operator">+</span><span class="code_variable">Lsc</span><span class="code_operator">−</span><span class="code_variable">Lpc</span><span class="code_operator">+</span><span class="code_variable">Lp0</span>)<span class="code_endofline">;</span>  </SPAN></TD>
</TR></TABLE>
\[\tag{fsol}f=\frac{\mathit{Lpc}\, \mathit{Lso}-\mathit{Lp0}\, \mathit{Lsc}}{-\mathit{Lso}+\mathit{Lsc}-\mathit{Lpc}+\mathit{Lp0}}\]


<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
(%i17)	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
<span class="code_function">diff</span>(<span class="code_variable">fsol</span>,<span class="code_variable">Lpc</span>)<span class="code_endofline">;</span>  </SPAN></TD>
</TR></TABLE>
\[\tag{%o17} 0=\frac{\mathit{Lpc}\, \mathit{Lso}-\mathit{Lp0}\, \mathit{Lsc}}{{{\left( -\mathit{Lso}+\mathit{Lsc}-\mathit{Lpc}+\mathit{Lp0}\right) }^{2}}}+\frac{\mathit{Lso}}{-\mathit{Lso}+\mathit{Lsc}-\mathit{Lpc}+\mathit{Lp0}}\]


<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
(%i18)	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
<span class="code_function">solve</span>(<span class="code_variable">%</span>,<span class="code_variable">Lp0</span>)<span class="code_endofline">;</span>  </SPAN></TD>
</TR></TABLE>
\[\tag{%o18} [\mathit{Lp0}=\mathit{Lso}]\]


<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
(%i19)	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
<span class="code_variable">g5</span><span class="code_operator">:</span> <span class="code_variable">f</span><span class="code_operator">=</span><span class="code_number">0</span><span class="code_endofline">;</span>  </SPAN></TD>
</TR></TABLE>
\[\tag{g5}f=0\]


<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
(%i20)	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
<BR>
<span class="code_function">solve</span>([<span class="code_variable">g1</span>,<span class="code_variable">g2</span>,<span class="code_variable">g3</span>,<span class="code_variable">g5</span>],[<span class="code_variable">Lp</span>,<span class="code_variable">Ls</span>,<span class="code_variable">Lm</span>,<span class="code_variable">f</span>])<span class="code_endofline">;</span>  </SPAN></TD>
</TR></TABLE>
\[\tag{%o20} [[\mathit{Lp}=\frac{\mathit{Lp0}\, \mathit{Lpc}-\sqrt{{{\mathit{Lp0}}^{2}}\, \mathit{Lpc}\, \mathit{Lsc}-\mathit{Lp0}\, {{\mathit{Lpc}}^{2}}\, \mathit{Lsc}}}{\mathit{Lpc}},\mathit{Ls}=\frac{\mathit{Lp0}\, \mathit{Lsc}-\sqrt{{{\mathit{Lp0}}^{2}}\, \mathit{Lpc}\, \mathit{Lsc}-\mathit{Lp0}\, {{\mathit{Lpc}}^{2}}\, \mathit{Lsc}}}{\mathit{Lpc}},\mathit{Lm}=\frac{\sqrt{{{\mathit{Lp0}}^{2}}\, \mathit{Lpc}\, \mathit{Lsc}-\mathit{Lp0}\, {{\mathit{Lpc}}^{2}}\, \mathit{Lsc}}}{\mathit{Lpc}},f=0],[\mathit{Lp}=\frac{\sqrt{{{\mathit{Lp0}}^{2}}\, \mathit{Lpc}\, \mathit{Lsc}-\mathit{Lp0}\, {{\mathit{Lpc}}^{2}}\, \mathit{Lsc}}+\mathit{Lp0}\, \mathit{Lpc}}{\mathit{Lpc}},\mathit{Ls}=\frac{\sqrt{{{\mathit{Lp0}}^{2}}\, \mathit{Lpc}\, \mathit{Lsc}-\mathit{Lp0}\, {{\mathit{Lpc}}^{2}}\, \mathit{Lsc}}+\mathit{Lp0}\, \mathit{Lsc}}{\mathit{Lpc}},\mathit{Lm}=-\frac{\sqrt{{{\mathit{Lp0}}^{2}}\, \mathit{Lpc}\, \mathit{Lsc}-\mathit{Lp0}\, {{\mathit{Lpc}}^{2}}\, \mathit{Lsc}}}{\mathit{Lpc}},f=0]]\]


<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
(%i28)	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
<span class="code_variable">%o20</span>,<span class="code_variable">Lp0</span><span class="code_operator">=</span><span class="code_number">310e</span><span class="code_operator">−</span><span class="code_number">6</span>,<span class="code_variable">Lpc</span><span class="code_operator">=</span><span class="code_number">69</span><span class="code_number">.</span><span class="code_number">7e</span><span class="code_operator">−</span><span class="code_number">6</span>,<span class="code_variable">Lsc</span><span class="code_operator">=</span><span class="code_number">1</span><span class="code_number">.</span><span class="code_number">81</span><span class="code_operator">^</span><span class="code_number">2</span>·<span class="code_number">20</span><span class="code_number">.</span><span class="code_number">5e</span><span class="code_operator">−</span><span class="code_number">6</span>, <span class="code_variable">Lso</span><span class="code_operator">=</span><span class="code_number">310e</span><span class="code_operator">−</span><span class="code_number">6</span><span class="code_endofline">;</span>  </SPAN></TD>
</TR></TABLE>
\[\tag{%o28} [[\mathit{Lp}=4.208511157239417 {{10}^{-5}},\mathit{Ls}=3.078834686651185 {{10}^{-5}},\mathit{Lm}=2.679148884276059 {{10}^{-4}},f=0],[\mathit{Lp}=5.779148884276059 {{10}^{-4}},\mathit{Ls}=5.666181237217236 {{10}^{-4}},\mathit{Lm}=-2.679148884276059 {{10}^{-4}},f=0]]\]


<!-- Code cell -->


<TABLE><TR><TD>
  <SPAN CLASS="prompt">
(%i32)	
  </SPAN></TD>
  <TD><SPAN CLASS="input">
<span class="code_variable">g1</span>,<span class="code_variable">%o28</span>[<span class="code_number">1</span>]<span class="code_endofline">;</span><BR>
<span class="code_variable">g2</span>,<span class="code_variable">%o28</span>[<span class="code_number">1</span>]<span class="code_endofline">;</span>  </SPAN></TD>
</TR></TABLE>
\[\tag{%o31} \mathit{Lp0}=3.1 {{10}^{-4}}\]
\[\tag{%o32} \mathit{Lpc}=6.969999999999998 {{10}^{-5}}\]

 <HR>
 <SMALL> Created with <A HREF="https://andrejv.github.io/wxmaxima/">wxMaxima</A>.</SMALL>
 </BODY>
</HTML>
